<div id="<%= dom_id list_item %>">
  <p>
    <strong>Name:</strong>
    <%= list_item.name %>
  </p>

  <p>
    <strong>List:</strong>
    <%= list_item.list_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= list_item.position %>
  </p>

  <p>
    <strong>Completed?:</strong>
    <%= list_item.completed %>
  </p>
  <hr>

</div>
